/* General Styles */
body, h1, h4, h5, h6 {
  font-family: 'Consolas', monospace;
  background-color: #616161;
}

/* Typography */
.custom-orange, .custom-white {
  font-family: 'Consolas', monospace;
}

.custom-orange {
  color: #FF9800;
  font-weight: bold;
}

.custom-white {
  color: #FFFFFF;
  font-weight: 100;
}

.italic-k {
  font-family: 'Consolas', monospace;
  font-style: italic;
  display: inline-block;
  transform: skewX(10deg);
  margin-right: 1px;
}

/* Layout */
.custom-bg {
  background-color: #616161;
}

.header-text {
  font-size: 1.8rem;
  color: #FFFFFF;
  margin-top: 4px;
  margin-bottom: 0px;
}

.custom-link {
  color: #ffffff;
  margin-top: 4px;
  font-size: 16px;
  text-decoration: underline;
}

.custom-link-hover:hover {
  color: #FFFFFF;
}

/* Banners */
.full-width-banner {
  width: 100%;
  background-color: #FDF5E6;
  color: #000000;
  font-size: 16px;
  padding: 16px 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-weight: bold;
}

.banner-text {
  margin-left: 25px;
}

/* Info Box */
.info-box {
  margin: 15px;
  border: 1px solid #FF9800;
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.info-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  width: 100%;
}

.info-item label {
  color: #d6d6d6;
  padding-bottom: 5px;
}

.info-item input {
  width: 100%;
  height: 30px;
  background-color: #616161;
  color: #ffffff;
  border: 1px solid #000000;
  padding: 0 10px;
}

.button-style {
  background-color: #000000;
  color: #FFFFFF;
  border: 1px solid #FF9800;
  cursor: pointer;
  font-size: 12px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  height: 30px;
  width: 100%;
}

/* Buttons */
  .join-room-button {
  background-color: #000000;
  color: #FFFFFF;
  border: 1px solid #FF9800;
  cursor: pointer;
  font-size: 12px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  height: 30px;

}

.join-room-button {
  font-size: 16px;
  justify-content: space-between;
  align-self: flex-end;
  margin-top: 10px;
  width: auto;
}

.button-icon {
  height: 15px;
  width: auto;
  margin-left: 10px;
}

/* Room Creation */
.room-creation {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 8px 16px 0px 16px;
  background-color: #616161;
  margin-bottom: 0px;
}

.room-name-input {
  height: 35px;
  background-color: #FDF5E6;
  border: 1px solid #FFFFFF;
  margin-bottom: 15px;
  padding: 5px 10px;
  color: #000000;
}

/* Radio Buttons */
.radio-container {
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 25px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
  user-select: none;
  color: #FFFFFF;
}

.radio-checkmark {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 15px;
  width: 15px;
  background-color: #eee;
  border-radius: 50%;
}

.radio-container:hover input ~ .radio-checkmark {
  background-color: #ccc;
}

.radio-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin-right: 8px;
}

.radio-container input:checked ~ .radio-checkmark {
  background-color: #FF9800;
}

.radio-checkmark:after {
  content: "";
  position: absolute;
  display: none;
  top: 4px;
  left: 4px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: white;
}

.radio-container input:checked ~ .radio-checkmark:after {
  display: block;
}

.radio-icon {
  height: 20px;
  width: auto;
  margin-right: 6px;
  vertical-align: middle;
}

/* Right Column */
.right-column-header {
  color: #FF9800;
  font-size: 28px;
  padding: 12px 20px;
  margin: 0;
  font-family: 'Consolas', monospace;
  background-color: #202020;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: auto;
}

.header-left {
  display: flex;
  align-items: center;
}

.header-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 8px;
}

#roomsCount, #usersCount {
  color: #ffffff;
  font-size: 13px;
  font-family: 'Consolas', monospace;
  margin: 0;
  border: none;
}

/* Room Details */
.room-details-container {
  display: flex;
  border-top: 1px solid #FFFFFF;
  padding-top: 5px;
}

.room-details {
  width: 70%;
  display: flex;
  flex-direction: column;
  color: white;
}

.room-info {
  font-size: 16px;
  margin-bottom: 10px;
}

.room-header {
  font-size: 18px;
  color: #fff;
  margin: 0 0 0 10px;
}

.public-room-info {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #00FFFF;
  margin-left: 10px;
}

.public-room-info .room-icon {
  margin-left: 5px;
  height: 15px;
  width: auto;
}

.user-info div {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  margin-left: 20px;
}

.user-detail {
  font-size: 14px;
  color: #FF9800;
  display: flex;
  align-items: center;
}

.user-detail .details-icon {
  margin-right: 5px;
  height: 15px;
  width: auto;
}

.chat-button-container {
  width: 30%;
  display: flex;
  justify-content: flex-end;
  align-items: start;
}

.enter-chat-button {
  padding: 10px;
  font-size: 16px;
  background-color: #000000;
  color: #FFFFFF;
  border: 1px solid #FF9800;
  cursor: pointer;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 12px 12px 12px 0;
}

/* Miscellaneous */
.version-n {
  color: white;
}

.no-rooms-message {
  color: white;
  font-size: 24px;
  text-align: center;
  padding: 50px 50px 0;
}

.learn-more-link {
  background-color: #333;
  color: #FFFFFF;
  padding: 4px 16px;
  text-decoration: none;
  margin-left: 110px;
  margin-bottom: 0px;
  font-size: 14px;
}

.bottom-left {
  margin-top: 10px;
  margin-bottom: 0px;
}

.social-color {
  color: white;
  margin-top: 20px;
}

.utility {
  border-bottom: 1px solid white;
}

/* Media Queries */
@media (min-width: 768px) {
  .left-column {
    height: 100%;
    overflow-y: auto;
  }

  .right-column {
    height: 100vh;
    overflow-y: auto;
  }

  .left-column::-webkit-scrollbar {
    width: 0;
    background: transparent;
  }

  .md\:w-383 {
    width: 400px; /* Increased from 350px to 383px */
  }

  #searchRoomId {
    width: 250px;
  }

  .button-style1 {
    margin-top: 10px;
  }

  .info-item input,
  .button-style {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .md\:w-350 {
    width: 100%;
  }

  .md\:h-screen {
    height: auto;
  }

  .left-column, .right-column {
    height: auto;
    overflow-y: visible;
  }
}

@media (max-width: 768px) {
  .no-rooms-message {
    font-size: 18px;
  }

  .info-item input,
  .button-style {
    width: 100%;
  }

  .right-column-header {
    flex-direction: column;
    align-items: flex-start;
    padding: 12px 10px;
  }

  .header-right {
    align-items: flex-start;
  }

  #roomsCount, #usersCount {
    padding: 0;
  }
}
.social-media {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin-top: 10px;
}
.social-media a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
  margin-top: 5px;
}
.social-media a:hover {
  text-decoration: underline;
}
.social-media img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.to p {
  color: white;
}
.footer {
  padding: 10px 0;
  background-color: #FF9800;
  color: black;
  text-align: center;
  width: 100%;
  position: sticky;
  bottom: 0;
  left: 0;
}
.version {
  margin-top: auto;
  padding: 10px;
  font-size: 12px;
  color: rgb(221, 221, 221);
  font-family: 'Courier New', Courier, monospace;
  letter-spacing: 1px;
  font-weight: bold;
}
.room-creation {
  margin-bottom: 20px;
}
#searchRoomId {
  width: 100%;
}
.join-private-link {
  display: block;
  margin-top: 0px;
  color: #FF9800;
  text-decoration: none;
  font-size: 14px;
}
.join-private-link:hover {
  text-decoration: underline;
}
@media (min-width: 768px) {
  #searchRoomId {
      width: 250px;
  }
}
.refreshbtn, .searchbtn, .button-style, .join-room-button {
  background-color: #222222;
  border-radius: 4px;
  padding: 10px 20px;
  transition: background-color 0.3s ease;
}
.refreshbtn:hover, .searchbtn:hover, .button-style:hover, .join-room-button:hover {
  background-color: #444444;
}
.refreshbtn:active, .searchbtn:active, .button-style:active, .join-room-button:active {
  background-color: #666666;
}
.right-column {
  display: flex;
  flex-direction: column;
  flex: 1;
  position: relative;
  min-height: 0;
}
#roomList {
  flex: 1;
  overflow-y: auto;
  padding-bottom: 50px;
  scrollbar-width: thin;
  scrollbar-color: #FF9800 white;
}
#roomList::-webkit-scrollbar {
  width: 8px;
}
#roomList::-webkit-scrollbar-track {
  background: white;
}
#roomList::-webkit-scrollbar-thumb {
  background-color: #FF9800;
  border-radius: 10px;
}
@media (max-width: 1020px) {
  body {
      font-size: 16px;
  }
  .flex {
      flex-direction: column;
  }
  
  .left-column, .right-column {
      width: 100%;
      max-height: none;
      overflow-y: visible;
  }
  .header-text {
      font-size: 1.5rem;
      text-align: center;
      margin: 1rem 0;
  }
  .custom-link {
      display: inline-block;
      margin: 0.5rem;
  }
  .full-width-banner {
      padding: 0.5rem;
      text-align: center;
  }
  .info-box {
      margin: 1rem;
      padding: 1rem;
      display: flex;
      flex-direction: column;
  }
  .info-item {
      margin-bottom: 0.5rem;
  }
  .input-group {
      flex-direction: column;
  }
  .input-group input {
      width: 100%;
      margin-bottom: 0.5rem;
  }
  .button-style {
      width: 100%;
      margin-top: 0.5rem;
  }
  #signOutBtn {
      margin-top: 1rem;
  }
  .radio-container {
      display: flex;
      align-items: center;
      margin-bottom: 0.5rem;
  }
  .radio-icon {
      margin-right: 0.5rem;
  }
  .social-media {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
  }
  .social-media a {
      width: 45%;
      margin-bottom: 0.5rem;
  }
  .right-column-header {
      flex-direction: column;
      align-items: center;
      padding: 1rem;
  }
  .header-left, .header-right {
      width: 100%;
      text-align: center;
      margin-bottom: 0.5rem;
  }
  .utility {
      flex-direction: column;
      padding: 1rem;
  }
  .search-container {
      width: 100%;
  }
  #searchRoomId, 
  #searchRoomBtn {
      width: 100%;
      margin-bottom: 0.5rem;
  }
  .button-container {
      display: flex;
      gap: 10px; /* optional for spacing between buttons */
      right: 0;
  }
  #roomList {
      padding: 1rem;
  }
  .footer {
      position: static;
      margin-top: 2rem;
      padding: 1rem;
  }

  /* Mobile-specific styles for buttons */
  .button-container {
      width: 100%;
  }
  #refreshRoomsBtn {
      width: 80%;
  }
  #settingsbtn {
      width: 20%;
      display: flex;
      justify-content: center;
      align-items: center;
  }
}

/* Additional CSS for desktop view */
@media (min-width: 1021px) {
  .utility {
      display: flex;
      justify-content: space-between;
      align-items: center;
  }
  .search-container {
      display: flex;
      align-items: center;
      flex: 1;
      gap: 10px; /* added gap for spacing */
  }
  .button-container {
      display: flex;
      align-items: center;
      margin-left: auto;
      gap: 10px; /* added gap for spacing */
  }
  #searchRoomId {
      width: auto;
  }
  .refreshbtn,
  .refreshbtn img {
      display: inline-block;
      vertical-align: middle;
  }
  #settingsbtn {
      padding: 10px 20px; /* ensure consistent padding */
  }
  #settingsbtn img {
      width: 20px;
      height: 20px;
  }
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal-content {
  background-color: #393937;
  margin: auto;
  padding: 30px;
  border-radius: 8px;
  width: 800px;
  max-width: 90%;
  height: 600px;
  max-height: 90%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  overflow-y: auto;
}

.close {
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  color: #fff;
}

.tabs {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  overflow-x: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.tabs::-webkit-scrollbar {
  display: none;
}

.tab {
  padding: 10px 20px;
  cursor: pointer;
  color: #fff;
  transition: background-color 0.3s;
}

.tab.active {
  border-bottom: 2px solid #fff;
}

.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}

h2 {
  color: #fff;
}

.color-buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
  margin-top: 30px;
}

.color-button {
  width: 40px;
  height: 40px;
  display: inline-block;
  margin: 5px;
  cursor: pointer;
}

.preview-textarea {
  width: 100%;
  height: 120px;
  background-color: #000;
  color: #fff;
  padding: 15px;
  resize: none;
  border-radius: 4px;
  font-size: 16px;
}

@media (max-width: 600px) {
  .modal-content {
      height: auto;
  }

  .color-buttons {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 5px;
      justify-items: center;
      padding: 0 50px;
  }

  .color-button {
      width: 40px;
      height: 40px;
  }
}
.color-button.active {
border: 2px solid black;
}
.avatar-selection-heading {
text-align: center;
color: #FFFFFF;
margin-bottom: 10px;
}

.avatar-buttons-container {
max-height: 350px;
overflow-y: auto;
padding: 0 50px;
}

.avatar-buttons {
display: grid;
grid-template-columns: repeat(5, 1fr);
gap: 10px;
margin-top: 10px;
}

.avatar-button {
background: none;
border: 2px solid transparent;
cursor: pointer;
padding: 2px;
transition: border-color 0.3s ease;
}

.avatar-button:hover,
.avatar-button.active {
border-color: #FF9800;
}

.avatar-button img {
width: 100%;
height: auto;
display: block;
}

.avatar-buttons-container::-webkit-scrollbar {
width: 8px;
}
.avatar-buttons-container::-webkit-scrollbar-track {
background: white;
}
.avatar-buttons-container::-webkit-scrollbar-thumb {
background-color: #FF9800;
border-radius: 10px;
}

@media (max-width: 768px) {
.avatar-buttons {
grid-template-columns: repeat(3, 1fr);
}

.avatar-buttons-container {
max-height: 350px;
overflow-y: auto;
padding: 0 30px;
}

.avatar-button {
padding: 1px;
}
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #333;
  color: white;
}
.navbar .nav-links {
  display: flex;
  gap: 15px;
}
.navbar .nav-links a {
  color: white;
  text-decoration: none;
  font-size: 20px;
}
.navbar .nav-links a:hover {
  color: #FF9800;
  text-decoration: none;
  font-size: 20px;
}
.navbar .logout-btn {
  background-color: #f44336;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  color: white;
}

@media (min-width: 1021px) {
  .navbar-mobile {
      display: none;
  }
}
@media (max-width: 1021px) {
  .navbar {
      display: none;
  }
  .navbar-mobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #333;
  color: white;
}
.navbar-mobiler .nav-links {
  display: flex;
  gap: 15px;
}
.navbar-mobile .nav-links a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}
.navbar-mobile .nav-links a:hover {
  color: #FF9800;
  text-decoration: none;
  font-size: 20px;
}
.navbar-mobile .logout-btn {
  background-color: #f44336;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  color: white;
}
}

